version: '2'
services:
  jupyter:
    image: jupyter/tensorflow-notebook
    container_name: jupyter
    environment:
      JUPYTER_ENABLE_LAB: 1
    volumes:
      - .:/home/jovyan/work
    ports:
      - "8888:8888"
    entrypoint:
      - start-notebook.sh
      - --NotebookApp.token=''
